<html>
  <head>
    <title><% title %> - \BlueLaTeX</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Bootstrap -->
    <link href="css/bootstrap.min.css" rel="stylesheet">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
    <![endif]-->
    <style type="text/css" media="screen">
    body {
      /*overflow: hidden;*/
    }

    #ace-editor {
      height: 85%;
    }
    </style>
  </head>
  <body>

  <!-- Main area with tabs -->
  <div id="container">
    <!-- Nav tabs -->
    <ul class="nav nav-tabs">
      <li><a href="#editor" data-toggle="tab">Editor</a></li>
      <li><a href="#paper-settings" data-toggle="tab">Paper Settings</a></li>
    </ul>

    <!-- Tab panes -->
    <div class="tab-content">
      <div class="tab-pane active" id="editor">
        <pre id="ace-editor">\documentclass[a4paper]{article}</pre>
      </div>
      <div class="tab-pane" id="paper-settings">
        <h1>Paper Settings</h1>
      </div>
    </div>

  </div>

  <!-- Modal -->
  <div class="modal fade" id="login-dialog" tabindex="-1" role="dialog" aria-labelledby="login-dialog-label" aria-hidden="true">
  </div><!-- /.modal -->


    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://code.jquery.com/jquery.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="js/bootstrap.min.js"></script>
    <script src="js/ace/ace.js" type="text/javascript" charset="utf-8"></script>
    <script src="js/bluelatex.js" type="text/javascript" charset="utf-8"></script>
  </body>
</html>

